
.summary-card{
 overflow: scroll;
 
  height: 500px;

 
  
 
}

.product-card {
  display: flex;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  
 
  }
  
  

.div1{
 
  width:700px;
  
  margin-top: 20px;
}
.product-img{
  width:220px;
  height: 120px; 
  border-radius: 10px;
  margin-left: 20px;
  
}
.product-h3{
 margin-left: 10px;
 font-size: 1.2rem;
 width:160px;
}
.product-img-cont{
  display: flex;
  padding: 2px;
}
.product-price{
  display: flex;
}
.product-price p{
  font-size: 1.3rem;
  align-self: center;

}
.product-icon{
  align-self: center;
}
.product-button{
  align-self: center;
 
}
.quantity{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.3rem;
  color:black;
}
.last-icon{
  align-self: center;
  margin-left: 20px;
  margin-top: 10px;
}
.button-card{
 
  width:30px;
  padding:3px;
  
}



@media (max-width:700px){
  .div1{
 
    width:350px;
   
    margin-top: 20px;
  }
  .product-img-cont{
    display: flex;
   
    padding: 10px;
  }
  .summary-card{
    overflow: scroll;
    
     height: 350px;
     width:350px;
   
    
     
    
   }
   .last-icon{
    align-self: center;
    margin-right: 10px;
  }
   .product-img{
    width:110px;
    height: 90px; 
    border-radius: 10px;
    margin:0px;
   
    
  }
  .product-h3{
    margin-left: 10px;
    font-size: 1rem;
    width:90px;
   }
   .quantity{
    align-self: center;
    font-size: 1.3rem;
    color:black;
  }
}







