section{
    display: flex;
    justify-content: center;
    

}




.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    
         /* From https://css.glass */
background: rgba(250, 141, 241, 0.34);
border-radius: 1rem;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.3px);
-webkit-backdrop-filter: blur(5.3px);
border: 1px solid rgb(250, 141, 250);

height:80vh;
width:90vw;
min-width: 330px;
}


.login-main{
background-color: white;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);


border-radius: 1rem;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding:20px;

 
}
.login-i{
    width: 20%;
    margin-top: 5%;

  
}
.Form{
    display: flex;
    flex-direction: column;
    width: 100%;
     max-width: 330px;

    
}
.login-h {
    font-size: 2.5rem;
    margin-bottom: 3vh;
  }
  .login-ip {
    width: 100%;
    height: 40px;
    margin-top: 5px;
  }
  .login-ip:focus{
    outline: none;
  }

.button1{
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    color: white;
    background-color: var(--mix);
    border: none;
    border-radius: 4px;
    transition: all 300ms ease-in; /* Added transition property for background-color */
    margin-top: 3vh;
    margin-bottom: 3vh;
  
  }
  .button1:hover{
    cursor: pointer;
    transform: scale(1.1);
  
  }

h5{
    margin-top: 10px;
    margin-bottom: 10px;
}
h6{
    color:blue;
    text-decoration: underline;
}
.h6:hover{
  cursor: pointer;
  

}



@media (max-width:400px){
  .login-h{
    font-size: 2rem;
  }
}

.success-message{
  background-color: rgb(181, 252, 196);
  color:black;
  padding: 10px;
  border-radius: 5px;
  border-left: 5px solid rgb(72, 228, 0);
}