.address{
    width: 77%;
  margin: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
}
.h-address{
    padding-top: 4px;
    text-align: center;
    font-size: 1.2rem;
}
.address-p{
    font-size: 1.3rem;
}
.address-p1{
  font-size: 1.1rem;
  margin-left: 5px;
}

.l-address{
    display: block;  margin-bottom: 0.2rem;font-size: 0.875rem; font-weight: bold;color: #4a5568;
}
.selector {
    width: 100%;
   height: 40px;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25;
    color: #4a5568;
    border: 1px solid #000; /* Replace #000 with your desired border color */
    border-radius: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }
  

  .add{
    margin-right: 30px;
  }
  



  .b-address{
    display: flex;
    justify-content: flex-end;
    padding: 16px;

  }
  .radio{
    width: 25px;
    height: 25px;
  }
  .one{
    display: flex;
    margin-bottom: 10px;
   
  }
  .two{
    display: flex;
   
  }

  @media (max-width:700px){
    .address-p{
      font-size: 1rem;
  }
  
  }
  .ok{
   color: slategray;
  }